.container{
    background-color: aqua;
    height: 500px;
    width:400px;
    margin:auto;
    border:solid coral;
    box-sizing: content-box;
    
}
.title{
    margin-top: 10px;
    margin-left: 110px;
}
.input-element{
    width: 96%;
}
{
    width:15px
    heith: 20px
}
